.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.content {
  flex: 1;
  background-color: #000000;
}

.heroImageContainer {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  align-items: flex-end; /* Align items to the bottom */
  justify-content: center;
  overflow: hidden;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(9, 9, 9, 0.5) 75%, rgba(9, 9, 9, 1) 100%); /* Gradient overlay */
  display: flex;
  align-items: flex-end; /* Align items to the bottom */
  justify-content: center;
  color: white; /* Text color */
}

.heroText {
  text-align: center;
  z-index: 1; /* Ensure text is above the overlay */
  padding-bottom: 20px; /* Add some padding at the bottom */
  position: absolute;
  top: 75%; /* Adjust this value to move the text further down */
  transform: translateY(-50%);
}

.heroText h1 {
  font-size: 2.8rem;
  font-weight: normal;
  font-family: 'Georgia';
}

.heroText p {
  font-size: 1.1rem;
  color: #bebebe;
  font-style: normal;
}

.section {
  text-align: center;
  padding: 1.5rem 2rem;
  background-color: rgb(9, 9, 9);
  color: #ffffff;
}

.section h1 {
  font-size: 2rem;
  font-weight: normal;
  font-family: 'Georgia';
}

.horizontalSection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontalSection h2 {
  font-size: 1.1rem;
  font-weight: normal;
  /* font-family: 'Georgia'; */
}

.horizontalSection img {
  width: 30px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 1rem; /* Space between image and text */
}

.separator {
  width: 100%;
  height: 1px;
  background-color: rgb(29, 29, 29);
}
